.intro {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  border: var(--grid-border);
  background: var(--color-accent-1);
}

.intro > *:first-child {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.intro > footer {
  background: var(--color-accent-1);
  padding: var(--spacing-1) var(--spacing-3);
  border-top: var(--grid-border);
  color: var(--color-emphasis-medium);
}

.socialList {
  display: flex;
  gap: var(--spacing-3);
  list-style: none;
  padding: unset;
  margin: unset;
}

.socialList li {
  display: flex;
  align-items: center;
}

.socialList button,
.socialList a {
  gap: var(--spacing-1);
  text-decoration: none;
}

.socialList li:last-child {
  margin-left: auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-4);
  gap: var(--spacing-4);
  flex: 1 1 350px;
}

.portrait {
  position: relative;
  min-height: 300px;
  max-height: 400px;
  aspect-ratio: 1 / 1.5;
  margin: var(--spacing-4);
  filter: grayscale(0.33);
}

.portraitArrow {
  position: absolute;
  bottom: 0;
  right: -75%;
  rotate: 0deg;
}

.timeline {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: unset;
  padding: unset;
  min-width: 300px;
}

.timeline > li {
  display: flex;
  gap: var(--spacing-3);
}

.timeline time,
.timeline p {
  color: var(--color-emphasis-medium);
  max-width: 50ch;
}

.timeline p {
  padding-bottom: var(--spacing-2);
}

.timelineLine {
  --stroke-width: 2px;
  --circle-size: 8px;
  box-sizing: content-box;
  position: relative;
  background: var(--color-primary);
  height: 100%;
  width: var(--stroke-width);
  flex-shrink: 0;
}

.timelineLine::after {
  content: "";
  position: absolute;
  background: blue;
  width: var(--circle-size);
  height: var(--circle-size);
  top: calc(var(--circle-size) / 2);
  border-radius: 100%;
  border: var(--stroke-width) solid var(--color-primary);
  background: var(--color-accent-1);
  left: 50%;
  transform: translateX(-50%);
}

.timeline > li:first-child {
  color: var(--color-primary);
}

.timeline > li:first-child .timelineLine {
  top: var(--spacing-0);
}

.timeline > li:first-child .timelineLine::after {
  top: 0;
  border-radius: 0%;
}

.timeline > li:last-child .timelineLine {
  height: var(--circle-size);
}

.timeline > li:last-child .timelineLine::after {
  animation: timelineActive 1s infinite;
}

@keyframes timelineActive {
  from {
    box-shadow: 0 0 0 0px var(--color-primary);
  }
  to {
    box-shadow: 0 0 0 4px transparent;
  }
}

@media screen and (max-width: 650px) {
  .portrait {
    display: none; /* TODO change */
  }

  .socialList li:not(:last-child) button p,
  .socialList li:not(:last-child) a p {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .portraitArrow {
    display: none;
  }
}
