.root {
  position: relative;
  max-width: 400px;
  user-select: none;
  font-size: 0.95em;
}

/** Shared metallic/reflective gradient */
.root::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom right,
    transparent 10%,
    rgba(255, 255, 255, 0.035),
    transparent 35%
  );
  mix-blend-mode: hard-light;
}

.container {
  position: relative;
  background: var(--color-accent-1);
  border: var(--grid-border);
  padding: var(--spacing-0);
  aspect-ratio: 16 / 9;
  border-radius: var(--spacing-1);
  overflow: hidden;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(to right, transparent 50%, var(--color-accent-1)),
    linear-gradient(to bottom, transparent 50%, var(--color-accent-1));
}

.container table {
  position: absolute;
  border-collapse: collapse;
  border-radius: var(--spacing-0);
  overflow: hidden;
}

.container th,
.container td {
  border: var(--grid-border);
}

.container th,
.container td {
  text-align: left;
  padding: var(--spacing-0);
  color: var(--color-emphasis-low);
  min-width: var(--spacing-5);
  white-space: nowrap;
}

.container th:not(:first-child),
.container td:not(:first-child) {
  padding-right: var(--spacing-2);
}

.container th {
  font-weight: 500;
  color: var(--color-emphasis-medium);
  background: var(--color-accent-2);
}

.container tr[data-selected="true"] td {
  color: var(--color-emphasis-medium);
}

.container tr > th:first-child::before,
.container tr > td:first-child::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 3px;
  border: var(--grid-border);
}

.container tr[data-selected="true"] > td:first-child::before {
  background: var(--color-primary-darkest);
  border-color: var(--color-primary);
}

.container td {
  font-weight: 400;
}

.query {
  position: absolute;
  display: flex;
  gap: var(--spacing-0);
  bottom: calc(-1 * var(--spacing-1));
  right: calc(-1 * var(--spacing-1));
  z-index: 1;
  background: var(--color-accent-2);
  padding: var(--spacing-1) var(--spacing-2);
  border: var(--grid-border);
  border-radius: 99px;
  color: var(--color-emphasis-medium);
  box-shadow: 0 0 var(--spacing-1) var(--color-accent-1);
}

.query span[data-keyword="word"] {
  color: var(--color-primary);
  font-weight: 450;
}

.query span[data-keyword="*"] {
  color: var(--color-emphasis-high);
  font-weight: 300;
}

@media screen and (max-width: 540px) {
  .container th,
  .container td {
    min-width: var(--spacing-4);
  }
}
