.button {
  overflow: hidden;
  position: relative;
  background: transparent;
  border: unset;
}

.button:not([data-disabled="true"]) {
  cursor: pointer;
}

.button:not([data-disabled="true"]):hover::after,
.button:not([data-disabled="true"]):focus-visible::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-state-hover);
  touch-action: none;
  pointer-events: none;
}

.button[data-appearance="cta"]:not([data-disabled="true"])::after {
  filter: invert(1);
}

.button[data-disabled="true"] {
  opacity: var(--emphasis-low);
}

.button[data-appearance="cta"] {
  font-weight: 700;
  font-size: var(--fs-1);
  background: var(--color-emphasis-high);
  color: var(--color-accent-1);
  border-radius: var(--spacing-0);
  padding: var(--spacing-1) var(--spacing-2);
  border: 1px solid var(--color-emphasis-high);
}

.button[data-appearance="transparent"] {
  font-weight: 500;
  font-size: var(--fs-1);
  padding: var(--spacing-1);
  border-radius: var(--spacing-0);
}
