.box {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  padding: var(--spacing-4);
  border-top: var(--grid-border);
  border-bottom: var(--grid-border);
  background: var(--color-accent-0);
}

.box[data-type="stretch"] {
  grid-column: 1 / -1;
}

.box[data-type="split"] {
  grid-column: span 1;
}

.box[data-type="split"][data-side="start"] {
  border-right: var(--grid-border);
}

.title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.title h2 {
  color: var(--color-emphasis-high);
}

.title h3,
.title p {
  color: var(--color-emphasis-medium);
}

.title p {
  font-size: var(--fs-2);
  color: var(--color-emphasis-medium);
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}
