:root {
  /** <---> Colors <---> */
  --color-primary: #64b5e2;
  --color-accent-0: #000000;
  --color-accent-1: #0e0e0e;
  --color-accent-2: #151515;
  --color-accent-3: #232323;
  --color-accent-4: #383838;
  --color-emphasis-high: #ffffff;
  --color-emphasis-medium: #ffffffb2;
  --color-emphasis-low: #ffffff25;
  --color-outline-grid: #1e1e1e;
  --color-outline-card: #ffffff14;

  /** <---> Opacities <---> */
  --emphasis-high: #FF;
  --emphasis-medium: #46;
  --emphasis-low: #25;

  /** <---> Spacing <---> */
  --spacing-0: 5px;
  --spacing-1: 10px;
  --spacing-2: 15px;
  --spacing-3: 20px;
  --spacing-4: 30px;
  --spacing-5: 60px;

  /** <---> Font size <---> */
  --fs-base: 0.875rem;
  --fs-0: 0.857rem;
  --fs-1: var(--fs-base);
  --fs-2: 1.143rem;
  --fs-3: 1.571rem;
}

html {
  box-sizing: border-box;
  font-size: var(--fs-base);
}

body {
  background: var(--color-accent-0);
  color: var(--color-emphasis-high);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 1.647em;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fs-3);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-2);
  font-weight: 550;
  line-height: 1.445em;
  letter-spacing: 0.02em;
}

h3 {
  font-size: var(--fs-2);
  font-weight: 450;
  line-height: 1.445em;
  letter-spacing: 0.01em;
}
