.background {
  position: fixed;
  width: calc(100dvw - calc(2 * var(--spacing-1)));
  height: 100dvh;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.06;
  background-image: linear-gradient(
      var(--color-emphasis-high) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, var(--color-emphasis-high) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: -1px -1px;
  animation: backgroundMove linear;
  animation-timeline: scroll(y root);
  animation-range: 0 100%;
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    var(--color-accent-0) 20%,
    transparent,
    var(--color-accent-0) 75%
  );
}

@keyframes backgroundMove {
  from {
    transform: 0;
  }
  to {
    transform: translate(-50%, -300px);
    opacity: 0;
  }
}
