:root {
  /** <---> Colors <---> */
  --color-primary: #64b5e2;
  --color-accent-0: #000000;
  --color-accent-1: #0c0c0c;
  --color-accent-2: #131313;
  --color-accent-3: #202020;
  --color-accent-4: #343434;
  --color-emphasis-high: rgb(230, 230, 230);
  --color-emphasis-medium: rgba(230, 230, 230, 0.8);
  --color-emphasis-low: rgba(230, 230, 230, 0.37);
  --color-outline-grid: #212121;
  --color-outline-card: #ffffff14;

  /** <---> Opacities <---> */
  --emphasis-high: #FF;
  --emphasis-medium: #46;
  --emphasis-low: #25;

  /** <---> Spacing <---> */
  --spacing-0: 5px;
  --spacing-1: 10px;
  --spacing-2: 15px;
  --spacing-3: 20px;
  --spacing-4: 30px;
  --spacing-5: 50px;

  /** <---> Font size <---> */
  --fs-base: 0.875rem;
  --fs-0: 0.857rem;
  --fs-1: 1rem;
  --fs-2: 1.143rem;
  --fs-3: 1.571rem;
}

html {
  box-sizing: border-box;
  font-size: var(--fs-base);
}

body {
  background: var(--color-accent-0);
  color: var(--color-emphasis-high);
  font-size: var(--fs-1);
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.647em;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fs-3);
  font-weight: 700;
}

h2 {
  font-size: var(--fs-3);
  font-weight: 600;
  line-height: 1.345em;
  letter-spacing: -0.01em;
}

h3 {
  font-size: var(--fs-3);
  font-weight: 500;
  line-height: 1.345em;
  letter-spacing: -0.01em;
}

h4 {
  font-size: var(--fs-2);
  font-weight: 550;
  line-height: 1.345em;
  letter-spacing: 0em;
}

@media screen and (max-width: 540px) {
  html {
    font-size: calc(0.85 * var(--fs-base));
  }
}
