.container {
  --grid-border: 1px solid var(--color-outline-grid);
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding: var(--spacing-1);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: var(--grid-border);
  row-gap: var(--spacing-2);
}

.boxImageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
}

.background {
  position: absolute;
  width: 80vw;
  height: 80dvh;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.06;
  background-image: linear-gradient(
      var(--color-emphasis-high) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, var(--color-emphasis-high) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: -1px -1px;
  animation: backgroundFadeIn 1s forwards;
}

.background::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    var(--color-accent-0) 10%,
    transparent,
    var(--color-accent-0)
  );
}

@media screen and (max-width: 540px) {
  .grid {
    grid-template-columns: 1fr !important;
  }
}

@keyframes backgroundFadeIn {
  from {
    opacity: 0;
  }
}
