.root {
  display: grid;
  border-bottom: unset;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.root > *:first-child {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}

.root > *:first-child footer ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  list-style: none;
  margin: unset;
  padding: unset;
  width: max-content;
}

.root > *:first-child footer li {
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-outline-grid);
  padding: var(--spacing-2) var(--spacing-2);
  border-radius: var(--spacing-0);
  color: var(--color-emphasis-medium);
}

.root > *:first-child footer li > *:first-child {
  font-size: 1.25em;
}

.root > *:last-child {
  border-radius: var(--spacing-1);
  border: 1px solid var(--color-outline-grid);
  overflow: hidden;
}

.root > *:last-child > h5 {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  font-weight: 500;
  color: var(--color-emphasis-medium);
  padding: var(--spacing-1) var(--spacing-2);
  border-bottom: 1px solid var(--color-outline-grid);
}

.root > *:last-child > form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  background: var(--color-accent-1);
  padding: var(--spacing-2);
  width: calc(100% - calc(2 * var(--spacing-2)));
  margin: 0 auto;
}

.root label {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-0);
}

.root input[type="text"],
.root textarea {
  font: inherit;
  border-radius: var(--spacing-0);
  letter-spacing: inherit;
  background: var(--color-accent-1);
  padding: var(--spacing-1) var(--spacing-2);
  border: 1px solid var(--color-outline-card);
  color: var(--color-emphasis-medium);
  outline: unset;
  margin: unset;
  transition:
    0.15s background,
    0.15s color;
}

.root input:focus-visible,
.root textarea:focus-visible {
  background: var(--color-state-focus);
  color: var(--color-emphasis-high);
}

.root input::placeholder,
.root textarea::placeholder {
  color: var(--color-emphasis-low);
}

.root textarea {
  resize: vertical;
  min-height: 50px;
}

.root form > footer {
  margin-top: var(--spacing-0);
}
